.mealListWrapper {
  color: $primaryText;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 20px;
}

.mealList {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  list-style: none;
  padding: 0;
}

.mealListHeader {
  align-items: center;
  display: flex;
  justify-content: space-between;

  @media (min-width: $small-screen) {
    gap: 15px;
    justify-content: initial;
  }

  h2 {
    color: $primaryText;
  }
}

.mealListItem {
  min-height: 200px;

  @media (min-width: $small-screen) {
    cursor: pointer;
    padding: 0;
  }
}

.mealListItemButton {
  height: 100%;
  width: 100%;

  > div {
    align-items: self-start;
    display: flex;
    height: 100%;
    flex-direction: column;
    gap: 15px;
  }
}

.mealListItemIngredients {
  color: $primaryText;
  padding-left: 25px;
  font-size: $fs-regular;
  text-transform: capitalize;
}

.mealListItemIngredientsItem {
  margin-bottom: 5px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.mealListAddButton {
  bottom: 15px;
  position: fixed;
  right: 15px;

  @media (min-width: 931px) {
    bottom: 50px;
    right: 50px;
  }
}

.mealListAddIcon {
  height: 50px;
  width: auto;

  path {
    fill: $secondary;
  }
}

.addMealFormWrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-width: 350px;
  width: 100%;
}

.ingredientFormInputWrapper {
  align-items: center;
  display: flex;
  gap: 15px;

  input {
    flex: 1;
  }
}

.ingredientFieldsWrapper {
  max-height: calc(100vh - 390px);
  overflow: auto;
  margin-top: 5px;

  @media (min-width: 931px) {
    max-height: 450px;
  }
}

.ingredientFormButton {
  height: 55px;
  width: 55px;
}

.ingredientFieldLabel {
  color: $primaryText;
  font-size: $fs-medium-rare;
}

.ingredientFieldButtonWrapper {
  align-items: center;
  display: flex;
  gap: 15px;
  margin-top: auto;
}

.ingredientFieldButtonSubmit {
  flex: 1;
  display: flex;
  gap: 15px;
}

.ingredientFieldAddButton {
  height: 55px;
  width: 55px;
}

.deleteModalButton {
  width: 100%;
}

.mealExportButton {
  height: 25px;

  svg {
    color: $primaryText
  }
}

.mealListItemOption {
  align-items: center;
  color: $primaryText;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.deleteModalTitle {
  color: $primaryText
}

.mealFormTitle {
  color: $primaryText;
  max-width: 850px;
}

.mealFormContainer {
  margin: 0 auto 0 15px;
  max-width: 850px;

  @media (min-width: $small-screen) {
    margin: 0 auto;
  }
}

.mealForm {
  display: grid;
  grid-gap: 15px;
}

.mealEditor {
  min-height: 500px;

  :global(.tox-tinymce) {
    border-radius: 0;
  }
}

.addSuccessful {
  color: $green;
  font-size: $fs-regular;
}

.mealPreviewModal {
  > div {
    @media (max-width: $small-screen - 1px) {
      height: 100%;
      margin: 0;
      width: 100%;
    }
  }
}

.mealPreviewModalContent {
  flex: 1 1 0;
  overflow: auto;

  p {
    font-size: 1.6rem;
    margin: 0
  }

  ul, ol {
    display: grid;
    grid-gap: 5px;
    font-size: $fs-regular;
    padding-left: 25px;
  }
}

.mealPreviewModalIngredients {
  display: grid;
  font-size: $fs-regular;
  grid-gap: 10px;
  padding-left: 25px;
  text-transform: capitalize;
}

.mealPreviewModalButtons {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.mealPreviewModalButton {
  border: 1px solid $primaryText;
  border-radius: 5px;
  color: $primaryText;

  &.active {
    background-color: $primaryText;
    color: $secondaryText;
  }
}

.mealPreviewWrapper {
  display: flex;
  flex-direction: column;
  height: 85%;

  @media (min-width: $small-screen) {
    min-height: 500px;
    min-width: 550px;
  }
}
