.mealListWrapper {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 20px;
}

.mealList {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  list-style: none;
  padding: 0;
}

.mealListHeader {
  align-items: center;
  display: flex;
  justify-content: space-between;

  @media (min-width: $small-screen) {
    gap: 15px;
    justify-content: initial;
  }

  h2 {
    color: $primaryText;
  }
}

.mealListItemHeader {
  display: flex;
  justify-content: space-between;

  button {
    width: auto;
  }
}

.mealListItem {
  padding: 10px 0;
  margin-top: 15px;

  @media (min-width: $small-screen) {
    padding: 0;
  }
}

.mealListItemIngredients {
  color: $primaryText;
  padding-left: 25px;
  font-size: $fs-regular;
}

.mealListItemIngredientsItem {
  margin-bottom: 5px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.mealListAddButton {
  bottom: 15px;
  position: fixed;
  right: 15px;

  @media (min-width: 931px) {
    bottom: 50px;
    right: 50px;
  }
}

.mealListAddIcon {
  height: 50px;
  width: auto;

  path {
    fill: $secondary;
  }
}

.addMealModalWrapper {
  display: flex;
  flex-direction: column;
  min-width: 350px;
}

.ingredientFormInputWrapper {
  align-items: center;
  display: flex;
  gap: 15px;

  input {
    flex: 1;
  }
}

.indredientFieldsrapper {
  max-height: calc(100vh - 390px);
  overflow: auto;
  margin-top: 5px;
  min-height: 170px;

  @media (min-width: 931px) {
    max-height: 450px;
  }
}

.ingredientFormButton {
  height: 55px;
  width: 55px;
}

.indredientFieldLabel {
  color: $primaryText;
  font-size: $fs-medium-rare;
}

.indredientFieldButtonWrapper {
  align-items: center;
  display: flex;
  gap: 15px;
  margin-top: auto;
}

.indredientFieldButtonSubmit {
  flex: 1;
}

.indredientFieldAddButton {
  height: 55px;
  width: 55px;
}

.deleteModalButton {
  width: 100%;
}

.mealExportButton {
  height: 25px;

  svg {
    color: $primaryText
  }
}

.mealListItemDeleteButton {
  right: 10px;
  position: absolute;
  top: 10px;
}

.deleteModalTitle {
  color: $primaryText
}