@import '../../Styles/variables.module.scss';

.mealListWrapper {
  margin: 0 auto;
  max-width: 550px;
}

.mealList {
  list-style: none;
  padding: 0;
}

.mealListItemTitle {
  font-size: var(--fs-medium-rare);
  margin: 0 0 15px;
}

.mealListItemButton {
  border: none;
}