VITE_CLIENT_BASE_URL="http://localhost:3000"
VITE_CLIENT_LOGIN_LINK="http://localhost:4000/api/login"
VITE_CLIENT_REGISTER_LINK="http://localhost:4000/api/register"
VITE_CLIENT_GRAPHQL_LINK="http://localhost:4000/graphql"
# only for docker container 
VITE_CLIENT_GRAPHQL_SCHEMA_LINK="http://imli-api:4000/graphql"
#VITE_CLIENT_GRAPHQL_SCHEMA_LINK=${VITE_CLIENT_GRAPHQL_LINK}
