.button {
  align-items: center;
  border: none;
  cursor: pointer;
  display: flex;
  font-size: $fs-medium-rare;
  font-weight: 700;
  justify-content: center;
  margin-top: 15px;
  padding: 15px;
  text-transform: uppercase;

  &.hollow {
    background: transparent;
    border: 2px solid $secondary;
    color: $secondary;
    transition: border-color 150ms ease-in-out;

    &:hover {
      border-color: $white;
    }
  }

  &.disabled {
    background: $lightGrey;
    pointer-events: none;
  }
}

.primary {
  background: $secondary;
  color: $secondaryText;
  transition: background-color 150ms ease-in-out;

  &:hover {
    background-color:  color-mix(in srgb, $primaryText 20%, $secondary);
  }
}
