$white: #ffffff;
$black: #000000;

$primaryText: var(--text-black);
$secondaryText: var(--text-white);
$lightGrey: var(--text-light-grey);
$orange: var(--orange);
$orangeHover: var(--orange-hover);
$danger: var(--danger);
$red: var(--red);
$deepRed: var(--deep-red);
$primary: var(--primary-color);
$secondary: var(--secondary-color);
$button-violet: var(--button-violet);
$main-bg-color: var(--main-bg-color);
$dropdownBg: var(--dropdown-bg);
$green: var(--green);

$fs-regular: 1.4rem;
$fs-medium: 1.6rem;
$fs-medium-rare: 2rem;
$fs-large: 2.4rem;
$fs-x-large: 3.2rem;
$fw-bold: 600;

$x-small-screen: 600px;
$small-screen: 931px;
