$white: #FFFFFF;
$black: #000000;
$lightGrey: #0000000d;
$orange: #F05A22;
$orangeHover: #FF6F1B;
$danger: #FFB2C7;
$red: #FF0000;
$deepRed: #D0021B;
$primary: #4E1D4E;
$secondary: #7E2B46;
$button-violet: #B39DDB;
$main-bg: #F0F0F0;

$fs-regular: 1.4rem;
$fs-medium: 1.6rem;
$fs-medium-rare: 2rem;
$fs-large: 2.4rem;
$fs-x-large: 3.2rem;
$fw-bold: 600;

$small-screen: 931px;