.inputForm {
  & button {
    border: none;
  }
}

.placeholder {
  display: none;
}

.productListWrapper {
  color: $primaryText;
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 550px;
  min-height: calc(100vh - 30px);

  h2 {
    color: $primaryText;
  }
}

.productList {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  gap: 15px;
  margin: 0 0 20px;
  padding: 0;
  overflow: auto;
}

.productListItemWrapper {
  list-style: none;
}

.productListItemFirst {
  @media(max-width: $x-small-screen) {
    margin-top: auto;
  }
}

.productListItem {
  align-items: center;
  cursor: pointer;
  display: grid;
  position: relative;
  grid-template-columns: 15px auto 35px;
  grid-gap: 15px;
}

.completed {
  opacity: 0.4;
}

.productListItemTitle {
  color: $primaryText;
  font-size: $fs-medium;
  margin-right: auto;

  @media (min-width: $small-screen) {
    font-size: $fs-medium-rare;
  }
}

.productListDropdown {
  border: 1px solid;
  display: block;
  height: 65px;
  font-size: $fs-medium-rare;
  margin-bottom: 15px;
  padding: 15px;
  width: 100%;
}

.productListItemDropdownTitle {
  color: $primaryText;
  font-size: 1.4rem;
}

.inputForm {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  width: 100%;

  @media (min-width: 931px) {
    background: transparent;
    padding: 0;
  }
}

.formInputWrapper {
  position: relative;
}

.formInput {
  background: $main-bg-color;
  border: 2px solid $primaryText;
  border-radius: 4px;
  color: $primaryText;
  font-size: $fs-medium-rare;
  padding: 15px 40px 15px 15px;
  width: 100%;
}

.formInputLoader {
  right: 10px;
  top: 15px;
  position: absolute;
}

.formLabel {
  color: $primaryText;
  font-size: $fs-medium;
  padding-bottom: 10px;
}

.formButton {
  background-color: $button-violet;
  font-size: $fs-medium-rare;
  font-weight: 700;
  padding: 15px;
}

.productListButtons {
  bottom: 15px;
  position: fixed;
  right: 15px;
  width: 50px;

  @media (min-width: $small-screen) {
    bottom: 50px;
    right: 50px;
  }
}

.productListCompleteModal {
  button {
    width: 100%;
  }
}

.cancelListIcon,
.mealListAddIcon {
  background: $secondaryText;
  border-radius: 50%;
  height: 50px;

  path {
    fill: $secondary;
  }
}

.returnIcon {
  padding: 3px;
  transform: scaleX(-1);

  svg {
    fill: $secondary;
  }
}

.saveIcon {
  transform: scaleX(-1);
  fill: $secondary;
}

.editIcon {
  color: $secondary;
}

.inline {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.productListItemForm {
  width: 100%;
}

.productListItemInput {
  font-size: 1.4rem;
  height: 30px;
  padding: 0 10px;
  position: relative;
  width: 100%;
  z-index: 2;

  @media (min-width: $small-screen) {
    font-size: 2rem;
  }
}

.productListItemButtons {
  color: $secondary;
  position: relative;
  z-index: 2;
}
