@import '../../Styles/variables.module.scss';

.inputForm {
  & button {
    border: none;
  }
}

.placeholder {
  display: none;
}

.productListWrapper {
  max-width: 550px;
  margin: auto;
}

.productList {
  max-height: calc(100vh - 390px);
  padding: 0;
  overflow: auto;
}

.productListItemWrapper {
  list-style: none;
}

.productListItem {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.productListItemTitle {
  font-size: var(--fs-medium-rare);
}

.productListDropdown {
  border: 1px solid;
  height: 65px;
  font-size: var(--fs-medium-rare);
  margin-bottom: 15px;
  padding: 15px;
  width: 100%;
}

.inputForm {
  background: linear-gradient(264deg, #eeeef1 0%, white 100%);
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  padding: 15px;
  position: fixed;
  width: 100%;

  @media (min-width: 931px) {
    background: transparent;
    padding: 0;
    position: static;
  }
}

.formInput {
  background: var(--main-bg);
  border: none;
  font-size: var(--fs-medium-rare);
  padding: 15px;
  margin-bottom: 15px;
}

.formLabel {
  font-size: var(--fs-medium);
  padding-bottom: 10px;
}

.formButton {
  background-color: var(--button-violet);
  font-size: var(--fs-medium-rare);
  font-weight: 700;
  padding: 15px
}