.loginWrapper {
  color: $secondaryText;
  margin: auto;
  max-width: 550px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loginContent {
  background: $primary;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  padding: 25px;

  @media (min-width: 931px) {
    margin: 0 10px;
  }
}

.loginPageTitle {
  color: $primaryText;
  font-size: $fs-large;
  margin-top: 0;
  padding: 0;
}

.loginForm {
  display: flex;
  flex-direction: column;
}

.loginButton {
  margin-top: 15px;
}

.error {
  margin-top: 15px;
}
