.errorWrapper {
  align-items: center;
  background-color: $danger;
  color: $deepRed;
  display: flex;
  font-size: calc($fs-medium - 0.2rem);
  font-weight: 700;
  gap: 10px;
  padding: 10px;
}

.errorIcon {
  align-items: center;
  display: flex;
  padding: 5px;
}

.errorBoundaryMessage {
  font-size: $fs-medium;
}