@import '../../Styles/variables.module.scss';

.sidebarWrapper {
  background-color: var(--primary);
  min-width: 250px;
  position: fixed;
  left: -250px;
  height: 100%;
  top: 0;
  transition: left 150ms ease-in-out;
  z-index: 100;

  &.active {
    left: 0;
  }

  @media(min-width: 931px) {
    left: 0;
  }
}

.siderbar {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.sidebarFooter {
  margin: auto 0 15px 0;
  text-align: center;
}

.sidebarItem {
  background-color: var(--secondary);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding: 15px;

  a {
    color: var(--white);
    font-size: var(--fs-regular);
    padding-bottom: 5px;
    text-decoration: none;
  }

  svg {
    fill: var(--white);
    height: 18px;
  }
}

.sidebarItemTitle {
  align-items: center;
  display: flex;
  gap: 10px;
  justify-content: space-between;

  h3 {
    color: var(--white);
    font-weight: 700;
    font-size: var(--fs-medium);
    margin: 0;
  }
}

.sidebarItemToggle {
  background: transparent;
  border: none;
  position: absolute;
  right: 15px;
  text-align: right;
  width: 100%;
}

.sidebarLinkList {
  display: flex;
  flex-direction: column;
  margin-top: 15px;

  a {
    margin: 0 -15px;
    padding: 15px
  }
}

.sidebarToggle {
  position: absolute;
  right: -37px;
  top: 25px;
  border: none;
  background-color: transparent;
  transition: transform 150ms ease-in-out;

  &.active {
    transform: rotate(180deg)
  }

  @media(min-width: 931px) {
    display: none;
  }
}

.activeLink {
  background-color: var(--primary);
  font-weight: 700;
}