.box {
  background: $lightGrey;
  box-sizing: border-box;
  padding: 10px;
  position: relative;
  width: auto;

  @media (min-width: $small-screen) {
    padding: 10px;
  }

  div[data-style-sort] {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  }
}

.boxTitle {
  color: $primaryText;
  font-size: 2rem;
  margin: 0;
  padding: 0;
}

.boxHeader {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;

  &.right {
    justify-content: flex-end;
  }
}
