:root {
  --text-white: #ffffff;
  --text-black: #000000;
  --text-light-grey: #0000000d;
  --orange: #f05a22;
  --orange-hover: #ff6f1b;
  --danger: #ffb2c7;
  --red: #ff0000;
  --deep-red: #d0021b;
  --primary-color: #4e1d4e;
  --secondary-color: #7e2b46;
  --button-violet: #b39ddb;
  --main-bg-color: #f0f0f0;
  --green: #99ff8d;
  --main-bg: linear-gradient(
    264deg,
    var(--text-light-grey) 0%,
    var(--main-bg-color) 100%
  );
  --dropdown-bg: #ffffff;
}

[data-theme="dark"] {
  --text-white: #000000;
  --text-black: #ffffff;
  --text-light-grey: #00000061;
  --orange: #2259f0;
  --orange-hover: #ff6f1b;
  --danger: #ffb2c7;
  --red: #ff000017;
  --deep-red: #d0021b;
  --primary-color: #282a2c;
  --secondary-color: #6887a5;
  --button-violet: #b39ddb;
  --main-bg-color: rgb(60, 60, 60);
  --main-bg: var(--main-bg-color);
  --dropdown-bg: #121111bd;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  -webkit-font-smoothing: antialiased;
  background: var(--main-bg);
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

#root {
  height: 100%;
}

h2 {
  font-size: $fs-large;
  padding: 10px;

  @media (min-width: 600px) {
    font-size: $fs-x-large;
    padding: 0;
  }
}

h3 {
  font-size: $fs-medium-rare;
  margin-top: 0;
}

ul,
ol {
  color: $primaryText;
}

p {
  color: $primaryText;
  font-size: $fs-regular;
  line-height: 24px;
}

a {
  font-size: $fs-regular;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
